params {
    cell_counts    = "/lustre/scratch126/casm/teams/team215/users/ad56/ibar_scoring_tests/data/cell_test_data_ibar.counts" // Test data: 101 gene pairs
    plasmid_counts = "/lustre/scratch126/casm/teams/team215/users/ad56/ibar_scoring_tests/data/tmp_plasmid_test_data_ibar.counts" // Not full test data - replace with full test data once generated
    annotations    = "/lustre/scratch126/casm/teams/team215/projects/Genmap/library_files/lib2_gene.txt"
    outdir         = "tests"
}

profiles {
    lsf_ibar{
        singularity {
            enabled          = true
            autoMounts       = true
            cacheDir         = "$PWD"
            containerOptions = '--volume /nfs:/lustre:/software;--no-home'
        }
        process {
            executor = 'lsf'
            cache    = 'lenient'  // necessary for Lustre
            cpus     = 1
            queue    = 'normal'
            publishDir = [
                path: { "${params.outdir}/${task.process.tokenize(':').last().toLowerCase()}" },
                mode: 'copy'
            ]
            withName: NORMALISE  { memory = 2.Gb; time = 30.min }
            withName: 'MAP_GUIDES.*' { memory = 4.Gb; time = 1.hour  }
            withName: BIN_BY_GENE{ memory = 4.Gb; time = 1.hour  }
            withName: 'COUNT_KEYS.*' { memory = 2.Gb; time = 30.min  }
            withName: CALC_LFC   { memory = 4.Gb; time = 1.hour  }
        }
        executor {
            perJobMemLimit  = true
            submitRateLimit = '5 sec'
            killBatchSize   = 50
            queueSize       = 500
        }
    }
}

timeline { enabled = true;  file = "${params.outdir}/timeline.html" }
report   { enabled = true;  file = "${params.outdir}/report.html"   }

workflow.onComplete = { println "Pipeline complete\nCommand line: $workflow.commandLine" }
workflow.onError    = { println "Error: something went wrong" }