// nextflow.config

params {
    cell_counts    = "data/cell_counts.txt"
    plasmid_counts = "data/plasmid_counts.txt"
    annotations    = "data/guide_annotations.txt"
    outdir         = "results"
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':').last().toLowerCase()}" },
        mode: 'copy'
    ]
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor   = 'slurm'
        process.queue      = 'short'
        process.memory     = '8 GB'
        process.cpus       = 1
        process.time       = '1h'
    }
    conda {
        conda.enabled      = true
        process.conda      = "envs/crispr_lfc.yml"
    }
}
